<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= type %> Recipes</title>
    <!-- Font-awesome -->
    <script src="https://kit.fontawesome.com/bb1892d46f.js" crossorigin="anonymous"></script>
   
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <img src="/image/onice-logo.png" alt="logo-img">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/recipe">Recipes</a></li>
                <li><a href="/Saved Recipes">Saved Recipes</a></li>
                <li><a href="/profile.ejs">Create Recipes</a></li>
            </ul>
    </nav>

<div class="search-bar">
    <div class="row">
        <input type="text" id="input-box" placeholder="Search Recipes" autocomplete="off">
        <i class="fa-solid fa-magnifying-glass"></i>
        <button></button>
    </div>
</div>

        <nav id="cuisenes">
            <div class="cuisnes-list">
                <div>
                    <h2>African</h2>
                    <a href="/cuisine/african"><img src="/image/african-cusine.png" alt="african food icon"></a>
                </div>
        
                <div>
                    <h2>American</h2>
                    <a href="/cuisine/american"><img src="/image/american-cusine.png" alt="american food icon"></a>
                </div>
                
                <div>
                    <h2>Asian</h2>
                    <a href="/cuisine/asian"><img src="/image/asain-cusine.png" alt="asian food icon"></a>
                </div>
               
                <div>
                    <h2>Mexican</h2>
                    <a href="/cuisine/mexican"><img src="/image/mexican-cusine.png" alt="mexican food icon"></a>
                </div>
            </div>
        </nav>

    <section id="cuisine">
        <h1><%= type %> Recipes</h1>
        <div class="cuisine-container">
            <ul>
                <% recipes.forEach(recipe => { %>
                    <li class="recipe-item">
                        <div class="image-container">
                            <img src="<%= recipe.image %>" alt="<%= recipe.title %>">
                            <div class="cusine-overlay">
                                <form action="/recipeInfo/<%= recipe.id %>" method="GET">
                                    <button class="view-recipe-btn" data-recipe-id="<%= recipe.id %>">View Recipe</button>
                                </form>
                            </div>
                        </div>
                        <h2><%= recipe.title %></h2>
                    </li>
                <% }) %>
            </ul>
        </div>
    </section>

    <div id="recipeInfoContent"></div>

   

   <!-- Custom JS -->
   <script src="js/main.js"></script>
</body>
</html>