<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Page</title>
    <!-- Font-awesome -->
    <script src="https://kit.fontawesome.com/bb1892d46f.js" crossorigin="anonymous"></script>
    <!-- Glide.js CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">
    <!-- Import Animate.css from CDN -->
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Custom CSS -->
    <!-- Link to CSS files -->
<link rel="stylesheet" href="css/style.css"> 
<link rel="stylesheet" href="/css/styles.css"> 
</head>
<body>
    
    <header id="main-nav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <a class="navbar-brand" href="/" aria-label="Homepage">
                    <img src="/image/onice-logo.png" alt="Onice Logo" height="30">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse " id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/recipe">Recipes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile">Profile</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    
          <!-- Hero Section  -->
    <section id="hero-section" id="hero-section">
        <div class="wine-container">
            <h1>Wine of the Day: <%= randomWinePairing.wineName %></h1>
            <h2>Category: <%= randomWinePairing.wineCategory %></h2>
            <h3>Subcategory: <%= randomWinePairing.wineSubcategory %></h3>
            <p><strong>Flavors:</strong> <%= randomWinePairing.wineFlavors %></p>
            <p><strong>Region:</strong> <%= randomWinePairing.wineRegion %></p>
            <p><strong>Vintage:</strong> <%= randomWinePairing.wineVintage %></p>
        
            <h3>Description:</h3>
            <p><%= randomWinePairing.wineDescription %></p>
        
            <h3>Suggested Pairings:</h3>
            <p><%= randomWinePairing.winePairing %></p>
          </div>
        </section>      
        

    <div class="search-bar">
        <div class="form">
            <i class="fa fa-search"></i>
            <input type="text" id="input-box" placeholder="Search Recipes" autocomplete="off">
           
                <span class="left-pan">
                    <i class="fa fa-microphone"></i>
                
        </div>
        <div id="suggestions" class="suggestions-box"></div> <!-- Suggestions box -->
    </div>

    <header id="second-nav">
        <nav id="cuisenes">
            <div class="cuisenes">
                <div class="cuisnes-list">
                    <div>
                        <h2>African</h2>
                        <a href="/cuisine/african"><img src="/image/african-icon.gif" alt="african food icon"></a>
                    </div>
                    <div>
                        <h2>American</h2>
                        <a href="/cuisine/american"><img src="/image/american-icon.gif" alt="american food icon"></a>
                    </div>
                    <div>
                        <h2>Asian</h2>
                        <a href="/cuisine/asian"><img src="/image/asian-icon.gif" alt="asian food icon"></a>
                    </div>
                    <div>
                        <h2>Mexican</h2>
                        <a href="/cuisine/mexican"><img src="/image/mexican-icon.gif" alt="mexican food icon"></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
  

    <section id="trending">
        <div class="recipe-headers random">
            <h1 class="titles" data-text="Recipes">Flavor of the Day</h1>
        </div>
        <!-- Glide -->
        <div class="glide">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <% recipes.forEach(recipe => { %>
                        <li class="glide__slide">
                            <div class="glide-card" style="background-image: url('<%= recipe.image %>');">
                                <div class="glide-card-container">
                                    <div class="glide-card-info">
                                        <p><%= recipe.title %></p>
                                        <div class="glide-icons">
                                            <p>Servings:<span class="card-icons"><i class="fa-regular fa-user"></i> <%= recipe.servings %></span></p>
                                            <p>minutes:<span class="card-icons"><i class="fa-solid fa-clock"></i> <%= recipe.readyInMinutes %></span></p>
                                            <p>Ingredients:<span class="card-icons"><i class="fa-solid fa-book"></i> <%= recipe.numberOfIngredients %></span> </p>
                                        </div>
                                   
                                          <!-- View Recipe Button -->
                                          <form action="/recipeInfo/<%= recipe.id %>" method="GET">
                                            <button class="view-recipe-btn" data-recipe-id="<%= recipe.id %>">View Recipe</button>
                                        </form>
                                    </div>
                                    
                                           

                                    <div class="glide-card-memory">
                                            <!-- Like Recipe Form -->
                                        <form class="col" action="/recipe/likeRecipe/<%= recipe.id %>?_method=PUT" method="POST">
                                            <button class="btn btn-primary  animate__animated animate__heartBeat" type="submit">
                                                <i class="fa-solid fa-heart custom-icon2"></i>
                                            </button>
                                        </form>
                                              <!-- Favorite Recipe Form -->
                                        <form class="col" action="/recipe/favoriteRecipe/<%= recipe.id %>" method="POST">
                                            <button class="btn btn-primary animate__animated animate__heartBeat" type="submit">
                                                <i class="fa-solid fa-star custom-icon"></i>
                                            </button>
                                        </form>
                                             <!-- Delete Recipe Form (conditional) -->
                                             <!-- <% if (recipe.user && recipe.user.id === user.id) { %>
                                                <form action="/recipe/deleteRecipe/<%= recipe.id %>?_method=DELETE" method="POST" style="display:inline;">
                                                    <button class="btn btn-primary" type="submit">
                                                        <i class="fa-solid fa-trash"></i>
                                                        <%= recipe.likes %></button>
                                                </form>
                                            <% } %> -->
                                        <!-- <button class=" btn btn-primary "  type="submit"> <%= recipe.likes %>
                                            <i class="fa-solid fa-trash"></i> -->
                                    </div>
                                </div>  
                            </div>
                        </li>
                    <% }); %>
                </ul>
            </div>
            <div class="glide__bullets" data-glide-el="controls[nav]">
                <button class="glide__bullet" data-glide-dir="=0"></button>
                <button class="glide__bullet" data-glide-dir="=1"></button>
                <button class="glide__bullet" data-glide-dir="=2"></button>
                <button class="glide__bullet" data-glide-dir="=3"></button>
                <button class="glide__bullet" data-glide-dir="=4"></button>
             
            </div> 
        </div>
    </section>


    <section id="trending-desserts">
        <div class="recipe-headers dessert">
            <h1 class="titles" data-text="Dessert Recipes"> Dessert Recipes</h1>
        </div>
        <!-- Glide -->
        <div class="glide-desserts">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <% desserts.forEach(dessert => { %>
                        <li class="glide__slide">
                            <div class="glide-card" style="background-image: url('<%= dessert.image %>');">
                                <div class="glide-card-container">
                                    <div class="glide-card-info">
                                        <p><%= dessert.title %></p>
                                        <div class="glide-icons">
                                            <p>Servings:<span class="card-icons"><i class="fa-regular fa-user"></i> <%= dessert.servings %></span></p>
                                            <p>minutes:<span class="card-icons"><i class="fa-solid fa-clock"></i> <%= dessert.readyInMinutes %></span></p>
                                            <p>Ingredients:<span class="card-icons"><i class="fa-solid fa-book"></i> <%= dessert.numberOfIngredients %></span> </p>
                                        </div>
                                   
                                          <!-- View Recipe Button -->
                                          <form action="/recipeInfo/<%= dessert.id %>" method="GET">
                                            <button class="view-recipe-btn" data-recipe-id="<%= dessert.id %>">View Recipe</button>
                                        </form>
                                    </div>
                                    
                                    <div class="glide-card-memory">
                                            <!-- Like Recipe Form -->
                                        <form class="col" action="/recipe/likeRecipe/<%= dessert.id %>?_method=PUT" method="POST">
                                            <button class="btn btn-primary animate__animated animate__heartBeat" type="submit">
                                                <i class="fa-solid fa-heart custom-icon2"></i>
                                            </button>
                                        </form>
                                              <!-- Favorite Recipe Form -->
                                        <form class="col" action="/recipe/favoriteRecipe/<%= dessert.id %>" method="POST">
                                            <button class="btn btn-primary animate__animated animate__heartBeat" type="submit">
                                                <i class="fa-solid fa-star custom-icon"></i>
                                            </button>
                                        </form>
                                             <!-- Delete Recipe Form (conditional) -->
                                             <!-- <% if (dessert.user && dessert.user.id === user.id) { %>
                                                <form action="/recipe/deleteRecipe/<%= dessert.id %>?_method=DELETE" method="POST" style="display:inline;">
                                                    <button class="btn btn-primary" type="submit">
                                                        <i class="fa-solid fa-trash"></i>
                                                        <%= recipe.likes %></button>
                                                </form>
                                            <% } %> -->
                                        <!-- <button class=" btn btn-primary "  type="submit"> <%= dessert.likes %>
                                            <i class="fa-solid fa-trash"></i> -->
                                    </div>
                                </div>  
                            </div>
                        </li>
                    <% }); %>
                </ul>
            </div>
            <div class="glide__bullets" data-glide-el="controls[nav]">
                <button class="glide__bullet" data-glide-dir="=0"></button>
                <button class="glide__bullet" data-glide-dir="=1"></button>
                <button class="glide__bullet" data-glide-dir="=2"></button>
                <button class="glide__bullet" data-glide-dir="=3"></button>
                <button class="glide__bullet" data-glide-dir="=4"></button>
               
            </div>
        </div>
    </section>


    <section id="trending-healthy">
        <div class="recipe-headers healthy">
            <h1 class="titles" data-text="Healthy Recipes"> Healthy Recipes</h1>
           
        </div>
        <!-- Glide -->
        <div class="glide-healthy">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <% healthTips.forEach(tip => { %>
                        <li class="glide__slide">
                            <div class="glide-card" style="background-image: url('<%= tip.image %>');">
                                <div class="glide-card-container">
                                    <div class="glide-card-info">
                                        <p><%= tip.title %></p>
                                        <div class="glide-icons">
                                            <p>Servings:<span class="card-icons"><i class="fa-regular fa-user"></i> <%= tip.servings %></span></p>
                                            <p>minutes:<span class="card-icons"><i class="fa-solid fa-clock"></i> <%= tip.readyInMinutes %></span></p>
                                            <p>Ingredients:<span class="card-icons"><i class="fa-solid fa-book"></i> <%= tip.numberOfIngredients %></span> </p>
                                        </div>
                                   
                                          <!-- View Recipe Button -->
                                          <form action="/recipeInfo/<%= tip.id %>" method="GET">
                                            <button class="view-recipe-btn" data-recipe-id="<%= tip.id %>">View Recipe</button>
                                        </form>
                                    </div>
                                    
                                    <div class="glide-card-memory">
                                            <!-- Like Recipe Form -->
                                        <form class="col" action="/recipe/likeRecipe/<%= tip.id %>?_method=PUT" method="POST">
                                            <button class="btn btn-primary animate__animated animate__heartBeat" type="submit">
                                                <i class="fa-solid fa-heart custom-icon2"></i>
                                            </button>
                                        </form>
                                              <!-- Favorite Recipe Form -->
                                        <form class="col" action="/recipe/favoriteRecipe/<%= tip.id %>" method="POST">
                                            <button class="btn btn-primary animate__animated animate__heartBeat" type="submit">
                                                <i class="fa-solid fa-star custom-icon"></i>
                                            </button>
                                        </form>
                                             <!-- Delete Recipe Form (conditional) -->
                                             <!-- <% if (tip.user && tip.user.id === user.id) { %>
                                                <form action="/recipe/deleteRecipe/<%= tip.id %>?_method=DELETE" method="POST" style="display:inline;">
                                                    <button class="btn btn-primary" type="submit">
                                                        <i class="fa-solid fa-trash"></i>
                                                        <%= recipe.likes %></button>
                                                </form>
                                            <% } %> -->
                                        <!-- <button class=" btn btn-primary "  type="submit"> <%= tip.likes %>
                                            <i class="fa-solid fa-trash"></i> -->
                                    </div>
                                </div>  
                            </div>
                        </li>
                    <% }); %>
                </ul>
            </div>
            <div class="glide__bullets" data-glide-el="controls[nav]">
                <button class="glide__bullet" data-glide-dir="=0"></button>
                <button class="glide__bullet" data-glide-dir="=1"></button>
                <button class="glide__bullet" data-glide-dir="=2"></button>
                <button class="glide__bullet" data-glide-dir="=3"></button>
                <button class="glide__bullet" data-glide-dir="=4"></button>
            </div>
        </div>
    </section>

    <!-- <footer>
        <h2>Onice Gourmet Guide</h2>
        <p>Find and share recipes with ease. Explore thousands of mouth-watering dishes and save your favorites.</p>
        <p>Your Guide to Flavorful Journeys.</p>
    </footer> -->




    
    

    <!-- Glide.js -->
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/glide.min.js"></script>
    <!-- Initialize Glide -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        new Glide('.glide', {
            type: 'carousel',
            startAt: 0,
            perView: 3, // Default for extra small screens
            breakpoints: {
            576: {
                perView: 1 // For extra small screens
            },
            900: {
                perView: 2 // For small devices (tablets)
            },
            992: {
                perView: 3 // For larger devices (desktops)
            }
        }
        }).mount();

          
    new Glide('.glide-desserts', {
        type: 'carousel',
        startAt: 0,
        perView: 3, // Default for extra small screens
        breakpoints: {
            576: {
                perView: 1 // For extra small screens
            },
            900: {
                perView: 2 // For small devices (tablets)
            },
            992: {
                perView: 3 // For larger devices (desktops)
            }
        }
    }).mount();
    
    new Glide('.glide-healthy', {
        type: 'carousel',
        startAt: 0,
        perView: 3, // Default for extra small screens
        breakpoints: {
            576: {
                perView: 1 // For extra small screens
            },
            900: {
                perView: 2 // For small devices (tablets)
            },
            992: {
                perView: 3 // For larger devices (desktops)
            }
        }
    }).mount();
});
    </script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- Custom JS -->
    <script src="js/main.js"></script>
</body>
</html>
