<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Font-awesome -->
    <script src="https://kit.fontawesome.com/bb1892d46f.js" crossorigin="anonymous"></script>
    <!-- Glide.js CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <img src="/image/onice-high-resolution-logo-transparent (1).png" alt="logo-img">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/recipe">Recipes</a></li>
            <li><a href="/Saved Recipes">Saved Recipes</a></li>
        </ul>
    </nav>

    <section>
        <div class="recipe-hero">
            <div class="hero-content">
                <h2>Onice Gourmet Guide  </h2>
                <p>Your Guide to Flavorful Journeys.</p>
            </div>
        </div>
    </section>

    <div class="search-bar">
        <div class="row">
            <input type="text" id="input-box" placeholder="Search Recipes" autocomplete="off">
            <i class="fa-solid fa-magnifying-glass"></i>
            <button></button>
        </div>
    </div>

    <nav id="cuisenes">
        <div class="cuisenes">
            <div class="cuisnes-list">
                <div>
                    <h2>African</h2>
                    <a href="/cuisine/african"><img src="/image/african-cusine.png" alt="african food icon"></a>
                </div>
        
                <div>
                    <h2>American</h2>
                    <a href="/cuisine/american"><img src="/image/american-cusine.png" alt="american food icon"></a>
                </div>
                
                <div>
                    <h2>Asian</h2>
                    <a href="/cuisine/asian"><img src="/image/asain-cusine.png" alt="asian food icon"></a>
                </div>
               
                <div>
                    <h2>Mexican</h2>
                    <a href="/cuisine/mexican"><img src="/image/mexican-cusine.png" alt="mexican food icon"></a>
                </div>
            </div>
        </div>
    </nav>


    <section id="trending">
        <h1>Trending Recipes</h1>
        <!-- Glide -->
        <div class="glide">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <% recipeData.forEach(recipe => { %>
                        <li class="glide__slide">
                            <div class="glide-card" >
                                <div class="glide-card-image">
                                    <!-- <a href="/recipe/<%= recipe.id %>"> -->
                                    <img src="<%= recipe.image %>" alt="<%= recipe.title %>">
                                    <div class="overlay"></div>
                                </div>
                                <p><%= recipe.title %></p>
                                <div class="glide-card-content">
                                <i class="fa-regular fa-user"></i>
                                <p>Servings <%= recipe.servings %></p>
                                <p><i class="fa-solid fa-clock"></i> <%= recipe.readyInMinutes %> minutes</p>
                                <p> <i class="fa-solid fa-book"></i> <%= recipe.numberOfIngredients %></p>
                                </div>
                                <button class="btn1">View Recipe</button>
                            </div>
                        </li>
                    <% }); %>
                </ul>
            </div>
            <div class="glide__bullets" data-glide-el="controls[nav]">
                <button class="glide__bullet" data-glide-dir="=0"></button>
                <button class="glide__bullet" data-glide-dir="=1"></button>
                <button class="glide__bullet" data-glide-dir="=2"></button>
                <button class="glide__bullet" data-glide-dir="=3"></button>
                <button class="glide__bullet" data-glide-dir="=4"></button>
            </div>
        </div>
    </section>


    


    

    <!-- Glide.js -->
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/glide.min.js"></script>
    <!-- Initialize Glide -->
    <script>
        new Glide('.glide', {
            type: 'carousel',
            startAt: 0,
            perView: 3,
            gap: 20
        }).mount();
    </script>

    <!-- Initialize Glide for Healthy Recipes -->
    <script>
        new Glide('.healthy-glide', {
            type: 'carousel',
            startAt: 0,
            perView: 3,
            gap: 20
        }).mount();
    </script>

    <!-- Custom JS -->
    <script src="js/main.js"></script>
</body>
</html>
