<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= recipe.title %></title>
    <!-- Font-awesome -->
    <script src="https://kit.fontawesome.com/bb1892d46f.js" crossorigin="anonymous"></script>
    <!-- Glide.js CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <img src="/image/onice-logo.png" alt="logo-img">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/recipe">Recipes</a></li>
            <li><a href="/recipeInfo">Saved Recipes</a></li>
            <li><a href="/profile.ejs">Create Recipes</a></li>
        </ul>
    </nav>

    <div class="search-bar">
        <div class="row">
            <input type="text" id="input-box" placeholder="Search Recipes" autocomplete="off">
            <i class="fa-solid fa-magnifying-glass"></i>
            <button></button>
        </div>
    </div>



    <section id="healthy">
        <h1>Trending Recipes</h1>
        
        <h1><%= recipe.title %></h1>
        <img src="<%= recipe.image %>" alt="<%= recipe.title %>">
        <p><strong>Servings:</strong> <%= recipe.servings %></p>
        <p><strong>Ready in:</strong> <%= recipe.readyInMinutes %> minutes</p>
        
        <h2>Ingredients</h2>
        <ul>
            <% recipe.ingredients.forEach(ingredient => { %>
                <li><%= ingredient.original %></li>
            <% }); %>
        </ul>
    
        <h2>Instructions</h2>
        <div><%= recipe.instructions %></div>
    
        <a href="/api">Back to Recipes</a>
    </section>



     <!-- Glide.js -->
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/glide.min.js"></script>
    <!-- Initialize Glide -->
    <script>
        new Glide('.glide', {
            type: 'carousel',
            startAt: 0,
            perView: 3,
            gap: 20
        }).mount();

       
    </script>
    

    <script src="https://kit.fontawesome.com/bb1892d46f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/glide.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
