<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Page</title>
    <!-- Font-awesome -->
    <script src="https://kit.fontawesome.com/bb1892d46f.js" crossorigin="anonymous"></script>
    <!-- Glide.js CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/" aria-label="Homepage">
                <img src="/image/onice-logo.png" alt="Onice Logo">
            </a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/recipe">Recipes</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/create-recipes">Create Recipes</a></li>
             

            </ul>
        </nav>
    </header>
    

    <section id="hero-section">
        <div class="recipe-hero">
            <div class="hero-content">
                <h2>Onice Gourmet Guide</h2>
                <p>Find and share recipes with ease. Explore thousands of mouth-watering dishes and save your favorites.</p>
                <p>Your Guide to Flavorful Journeys.</p>
            </div>
        </div>
    </section>

    <div class="search-bar">
        <div class="row">
            <input type="text" id="input-box" placeholder="Search Recipes" autocomplete="off">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div id="suggestions" class="suggestions-box"></div> <!-- Suggestions box -->
    </div>

    <header>
        <nav id="cuisenes">
            <div class="cuisenes">
                <div class="cuisnes-list">
                    <div>
                        <h2>African</h2>
                        <a href="/cuisine/african"><img src="/image/african-icon.gif" alt="african food icon"></a>
                    </div>
                    <div>
                        <h2>American</h2>
                        <a href="/cuisine/american"><img src="/image/american-icon.gif" alt="american food icon"></a>
                    </div>
                    <div>
                        <h2>Asian</h2>
                        <a href="/cuisine/asian"><img src="/image/asian-icon.gif" alt="asian food icon"></a>
                    </div>
                    <div>
                        <h2>Mexican</h2>
                        <a href="/cuisine/mexican"><img src="/image/mexican-icon.gif" alt="mexican food icon"></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
  

    <section id="trending">
        <div class="recipe-headers">
            <h1>Trending Recipes</h1>
            <img src="/image/book.png" alt="random-header-icon">
        </div>
        <!-- Glide -->
        <div class="glide">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <% recipes.forEach(recipe => { %>
                        <li class="glide__slide">
                            <div class="glide-card">
                                <div class="glide-card-image">
                                    <img src="<%= recipe.image %>" alt="<%= recipe.title %>">
                                    <div class="overlay"></div>
                                </div>
                                <p><%= recipe.title %></p>
                                <div class="glide-card-content">
                                    <p>Servings: <i class="fa-regular fa-user"></i> <%= recipe.servings %></p>
                                    <p><i class="fa-solid fa-clock"></i> <%= recipe.readyInMinutes %> minutes</p>
                                    <p>Ingredients: <i class="fa-solid fa-book"></i> <%= recipe.numberOfIngredients %></p>
                                </div>
                                <div class="glide-card-memory">
                                        <!-- Like Recipe Form -->
                                    <form class="col" action="/recipe/likeRecipe/<%= recipe.id %>?_method=PUT" method="POST">
                                        <button class="btn btn-primary" type="submit">
                                            <i class="fa-solid fa-heart"></i>
                                        </button>
                                    </form>
                                          <!-- Favorite Recipe Form -->
                                    <form class="col" action="/recipe/favoriteRecipe/<%= recipe.id %>" method="POST">
                                        <button class="btn btn-primary" type="submit">
                                            <i class="fa-solid fa-star"></i>
                                        </button>
                                    </form>
                                         <!-- Delete Recipe Form (conditional) -->
                                         <% if (recipe.user && recipe.user.id === user.id) { %>
                                            <form action="/recipe/deleteRecipe/<%= recipe.id %>?_method=DELETE" method="POST" style="display:inline;">
                                                <button class="btn btn-primary" type="submit">
                                                    <i class="fa-solid fa-trash"></i>
                                                    <%= recipe.likes %></button>
                                            </form>
                                        <% } %>
                                    <button class=" btn btn-primary "  type="submit"> <%= recipe.likes %>
                                        <i class="fa-solid fa-trash"></i>
                                </div>
                                <!-- View Recipe Button -->
                                <form action="/recipeInfo/<%= recipe.id %>" method="GET">
                                <button class="view-recipe-btn" data-recipe-id="<%= recipe.id %>">View Recipe</button>
                            </form>
                            </div>
                        </li>
                    <% }); %>
                </ul>
            </div>
            <div class="glide__bullets" data-glide-el="controls[nav]">
                <button class="glide__bullet" data-glide-dir="=0"></button>
                <button class="glide__bullet" data-glide-dir="=1"></button>
                <button class="glide__bullet" data-glide-dir="=2"></button>
                <button class="glide__bullet" data-glide-dir="=3"></button>
                <button class="glide__bullet" data-glide-dir="=4"></button>
             
            </div>
        </div>
    </section>


    <section id="trending-desserts">
        <div class="recipe-headers">
            <h1>Dessert Recipes</h1>
            <img src="/image/cupcake.png" alt="dessert-header-icon">
        </div>
        <!-- Glide -->
        <div class="glide-desserts">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <% desserts.forEach(dessert => { %>
                        <li class="glide__slide">
                            <div class="glide-card">
                                <div class="glide-card-image">
                                    <img src="<%= dessert.image %>" alt="<%= dessert.title %>">
                                    <div class="overlay"></div>
                                </div>
                                <p><%= dessert.title %></p>
                                <div class="glide-card-content">
                                    <p>Servings: <i class="fa-regular fa-user"></i> <%= dessert.servings %></p>
                                    <p><i class="fa-solid fa-clock"></i> <%= dessert.readyInMinutes %> minutes</p>
                                    <p>Ingredients: <i class="fa-solid fa-book"></i> <%= dessert.numberOfIngredients %></p>
                                </div>
                                <div class="glide-card-memory">
                                    <form class="col" action="/recipe/likeRecipe/<%= dessert.id %>?_method=PUT" method="POST">
                                        <button class="btn btn-primary" type="submit">
                                            <i class="fa-solid fa-heart"></i>
                                        </button>
                                    </form>
                                    <form class="col" action="/recipe/favoriteRecipe/<%= dessert.id %>" method="POST">
                                        <button class="btn btn-primary" type="submit">
                                            <i class="fa-solid fa-star"></i>
                                        </button>
                                    </form>
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa-solid fa-trash"></i>
                                        <%= dessert.likes %></button>
                                    <% if (dessert.user && dessert.user.id === user.id) { %>
                                        <form class="col" action="/recipe/deleteRecipe/<%= dessert.id %>?_method=DELETE" method="POST">
                                            <button class="btn btn-danger" type="submit">Delete</button>
                                        </form>
                                    <% } %>
                                </div>
                                <form action="/recipeInfo/<%= dessert.id %>" method="GET">
                                    <button class="view-recipe-btn" data-recipe-id="<%= dessert.id %>">View Recipe</button>
                                </form>
                            </div>
                        </li>
                    <% }); %>
                </ul>
            </div>
            <div class="glide__bullets" data-glide-el="controls[nav]">
                <button class="glide__bullet" data-glide-dir="=0"></button>
                <button class="glide__bullet" data-glide-dir="=1"></button>
                <button class="glide__bullet" data-glide-dir="=2"></button>
                <button class="glide__bullet" data-glide-dir="=3"></button>
                <button class="glide__bullet" data-glide-dir="=4"></button>
               
            </div>
        </div>
    </section>


    <section id="trending-healthy">
        <div class="recipe-headers">
            <h1>Healthy Recipes</h1>
            <img src="/image/diet.png" alt="healthy-header-icon">
        </div>
        <!-- Glide -->
        <div class="glide-healthy">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <% healthTips.forEach(tip => { %>
                        <li class="glide__slide">
                            <div class="glide-card">
                                <div class="glide-card-image">
                                    <img src="<%= tip.image %>" alt="<%= tip.title %>">
                                    <div class="overlay"></div>
                                </div>
                                <p><%= tip.title %></p>
                                <div class="glide-card-content">
                                    <p>Servings: <i class="fa-regular fa-user"></i> <%= tip.servings %></p>
                                    <p><i class="fa-solid fa-clock"></i> <%= tip.readyInMinutes %> minutes</p>
                                    <p>Ingredients: <i class="fa-solid fa-book"></i> <%= tip.numberOfIngredients %></p>
                                </div>
                                <div class="glide-card-memory">
                                    <form class="col" action="/recipe/likeRecipe/<%= tip.id %>?_method=PUT" method="POST">
                                        <button class="btn btn-primary" type="submit">
                                            <i class="fa-solid fa-heart"></i>
                                        </button>
                                    </form>
                                    <form class="col" action="/recipe/favoriteRecipe/<%= tip.id %>" method="POST">
                                        <button class="btn btn-primary" type="submit">
                                            <i class="fa-solid fa-star"></i>
                                        </button>
                                    </form>
                                    <button class="btn btn-primary" type="submit"><%= tip.likes %>
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                    <% if (tip.user && tip.user.id === user.id) { %>
                                        <form class="col" action="/recipe/deleteRecipe/<%= tip.id %>?_method=DELETE" method="POST">
                                            <button class="btn btn-danger" type="submit">Delete</button>
                                        </form>
                                    <% } %>
                                </div>
                                <button class="view-recipe-btn" data-recipe-id="<%= tip.id %>">View Recipe</button>
                            </div>
                        </li>
                    <% }); %>
                </ul>
            </div>
            <div class="glide__bullets" data-glide-el="controls[nav]">
                <button class="glide__bullet" data-glide-dir="=0"></button>
                <button class="glide__bullet" data-glide-dir="=1"></button>
                <button class="glide__bullet" data-glide-dir="=2"></button>
                <button class="glide__bullet" data-glide-dir="=3"></button>
                <button class="glide__bullet" data-glide-dir="=4"></button>
            </div>
        </div>
    </section>




    
    

    <!-- Glide.js -->
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/glide.min.js"></script>
    <!-- Initialize Glide -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        new Glide('.glide', {
            type: 'carousel',
            startAt: 0,
            perView: 3,
        }).mount();

          
    new Glide('.glide-desserts', {
        type: 'carousel',
        startAt: 0,
        perView: 3,
    }).mount();
    
    new Glide('.glide-healthy', {
        type: 'carousel',
        startAt: 0,
        perView: 3,
    }).mount();
});
    </script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- Custom JS -->
    <script src="js/main.js"></script>
</body>
</html>
